pytest
requests
pydantic
fastapi
uvicorn
email-validator
python-multipart
sqlalchemy
weasyprint
jinja2
PyPDF2
psycopg2-binary
qrcode[pil]
fastapi-mail
psycopg2-binary
qrcode[pil]
pillow
fastapi-mail
passlib[bcrypt]
python-jose[cryptography]
python-multipart
