email-validator
fastapi
fastapi-mail
jinja2
passlib[bcrypt]
pillow
psycopg2-binary
pydantic
PyPDF2
pytest
python-jose[cryptography]
python-multipart
qrcode[pil]
reportlab
requests
sqlalchemy
uvicorn
weasyprint
