fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
sqlalchemy
psycopg2-binary
pytest
httpx
pytest-xdist

# Auth & Validation
email-validator
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Business Services (PDF, Email, QR)
qrcode
Pillow
resend
reportlab
weasyprint
jinja2
google-generativeai
